body {
    --scrollbarBG: white;
    --thumbBG: #aaa;
    margin: 0;
    user-select: none;
}
* {
    box-sizing: border-box;
    font-family: Poppins;
}
*::-webkit-scrollbar {
    width: 8px;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
}
#root {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

